body{
	background:cover;
}
.nav{
	background-color:white;
	margin-top:-5px;
}
.nav{
	color:black;
	text-align:center;
	padding:20px 16px;
	font-size:30px;
	font-family:"helvetica neue";
	letter-spacing:10px;
	text-transform:uppercase;
	font-weight:bold;
}
.nav a:hover{
 	background:orange;
	color:white;
}
img{
	width:40px;
	height:40px;
}	


